Jinja2>=2.11
MarkupSafe>=2.0
Pillow
PyWavelets
Pygments>=2.7
appnope>=0.1
astroid
bleach>=3.2
cycler>=0.10
decorator>=4.4
entrypoints>=0.3
html5lib>=1.1
isort
jedi>=0.17
jsonschema>=3.2
jupyter
lazy-object-proxy
matplotlib>=3.3
mccabe>=0.6
mistune>=0.8
nbconvert
nbformat>=5.0
networkx>=2.5
notebook
numpy
olefile>=0.46
pandocfilters>=1.4
pexpect>=4.8
pickleshare>=0.7
prompt-toolkit
ptyprocess>=0.6
pylint>=2.6
pyparsing>=2.4
python-dateutil>=2.8
pytz>=2020.1
pyzmq
qtconsole>=4.7
scikit-image
scipy
simplegeneric>=0.8
six>=1.15
terminado
testpath>=0.4
timeout-decorator>=0.4
tornado
wcwidth>=0.2
webencodings>=0.5
widgetsnbextension>=3.5
wrapt>=1.12